body {
    background-color: rgb(25, 25, 112);
}

.login{
    width: 350px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    background-color:rgb(173, 216, 230);
    padding: 50px;
}
.switch-text{
            color: gray;
            cursor: pointer;
            margin-left: 40px;
}
.register{
    width: 350px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    background-color:rgb(173, 216, 230);
    padding: 50px;
    display: none;
}
.basketbolaDati{
    width: 1000px;
    margin: 0 auto;
}