body {
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.login{
    width: 350px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    background-color:rgb(173, 230, 200);
    padding: 50px;
}
.switch-text{
            color: gray;
            cursor: pointer;
            margin-left: 40px;
}
.register{
    width: 350px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    background-color:rgb(173, 216, 230);
    padding: 50px;
    display: none;
}
.btn:hover {
    opacity: 0.8;
    box-shadow: #111827 0px 2px 4px;
}
.card {
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.9);
}

.card:hover {
    transform: scale(1.01);
}